[Unit]
 Description=Scheduled Backup Tool for iOS Health Data Scraper Tool
 After=multi-user.target

[Service]
WorkingDirectory=/home/mnalavadi/ios-health
Type=simple
ExecStart=/home/mnalavadi/.local/bin/uv run python -m src.data_backup_scheduler
 User=mnalavadi

 [Install]
 WantedBy=multi-user.target
 