[Unit]
 Description=Data visualization for data scraped from iOS Health App via a shortcut
 After=multi-user.target

 [Service]
 WorkingDirectory=/home/mnalavadi/ios-health
 Type=idle
ExecStart=/home/mnalavadi/.local/bin/uv run app
User=mnalavadi

 [Install]
 WantedBy=multi-user.target
 